---
permalink: '/css/styles.css'
---
.front-hero {
    background-image: url('{{ 'img/wg_hero.png' | relative_url }}');
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
td {
    white-space: nowrap;
}
@font-face {
    font-family: titling;
    src: url('{{'/img/font.ttf' | relative_url }}')
}
.title {
    font-family: titling
}
.navbar {
    border: 0px;
}