.front-hero {
    background: url('/img/wg_hero.png');
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
td {
    white-space: nowrap;
}
@font-face {
    font-family: titling;
    src: url('/img/font.ttf');
}
.titling {
    font-family: titling
}
.content * {
    scroll-margin-top: 3em;
}
.navbar {
    border: 0px;
}
.site-footer {
	background: linear-gradient(rgba(1,10,25,1), rgba(1,10,25,.1)), url("/img/footer.png");
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 15%;
}