<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{page.title}} - 956 Productions">
    <meta property="og:image" content="{{ site.url }}/img/logo.png">
    <meta property="og:site_name" content="Vortex Gallery: Winter Gaiden">
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index',''}}">
    <title>{{ page.title }} - 956 Productions</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ec45b90910.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cyborg/bulmaswatch.min.css">
    <link rel="stylesheet" href="{{ 'css/styles.css' | relative_url }}">
</head>