<section class="section has-background-white py-3">
    <div class="container is-max-desktop">
        <div class="columns is-multiline is-centered is-vcentered">
            <div class="column is-narrow">
                <figure class="image" style="max-width: 600px;">
                    <img src="{{ 'img/merch.png' | relative_url }}">
                </figure>
            </div>
            <div class="column is-narrow">
                <div class="has-text-centered">
                    <h1 class="title is-1 has-text-black">Vortex Merch on Sale Now</h1>
                    <h2 class="subtitle has-text-black mb-4">Shirts, backpacks, accessories, and even <a href="https://vortex-gallery.myspreadshop.com/vortex+gallery+blue-A61a6ecfa72eabe2a8b7ca98b?productType=611&sellable=kagQZNd2AAC8XAxvLyOp-611-41&appearance=2&size=29">swag for your dog.</a></h2>
                    <a class="button is-link is-medium" href="{{site.shop}}"><strong>SHOP</strong></a>
                </div>
            </div>
        </div>
    </div>
</section>